#Sidebar {
  --outline-indent: 6px;
  position: fixed;
  top: var(--toolbar-height);
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  background-color: #eee;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  direction: rtl;
  padding-bottom: 50vh;
  & > div {
    direction: ltr;
  }

  #OutlineView {
    width: calc(var(--sidebar-width) - var(--resize-grip-width));
    user-select: none;
  }

  .resize-grip {
    width: var(--resize-grip-width);
    top: var(--toolbar-height);
    bottom: 0;
    left: var(--sidebar-width);
    position: fixed;
    cursor: ew-resize;
  }

  .outline-node {
    position: relative;
    font-family: sans-serif;
    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1em;
    border-left: 1px solid #ccc;
    margin-left: var(--outline-indent);
    margin-top: 0px;
    .on-screen {
      background: #ccc;
    }
    &.outline-node-level-0 {
      margin-left: 0;
      padding-top: 8px;
      border-left: none;
      & > .outline-node-title {
        display: none;
      }
      & > .outline-node-title-indent {
        display: none;
      }
    }
    &.outline-node-level-1 {
      margin-left: 0;
      margin-top: 8px;
      padding-top: 0px;
      border-left: none;
      & > .outline-node-title {
        font-weight: bold;
      }
      & > .outline-node-title-indent {
        display: none;
      }
    }
    &.outline-node-level-2 {
      margin-left: 0;
      padding-top: 2px;
      border-left: none;
      & > .outline-node-title-indent {
        display: none;
      }
    }
    &.outline-node-level-3 {
      margin-left: 0;
      padding-top: 1px;
      & > .outline-node-title-indent {
        width: calc(var(--outline-indent) * 1.5);
      }
    }
    &.outline-node-level-4 {
      padding-top: 0px;
    }
    &.outline-node-level-5 {
      padding-top: 0px;
    }
    &.outline-node-level-6 {
      padding-top: 0px;
    }
    &.outline-node-level-7 {
      padding-top: 0px;
    }
    &.outline-node-level-8 {
      padding-top: 0px;
    }
  }

  .dragOver {
    background-color: #ddd;
    border-color: 1px solid purple;
    margin: -1px;
  }

  .outline-node-title-indent {
    width: var(--outline-indent);
    content: " ";
    display: inline-block;
  }

  .outline-node-title {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    width: -webkit-fill-available;
    .outline-node-page-number {
      display: none;
    }

    &:hover {
      background-color: #ddd;

      .outline-node-page-number {
        /* popunder page number when hovered*/
        display: block;
        position: absolute;
        top: 1em;
        right: 0;
        font-size: small;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 0.2em 0.4em;
        z-index: 1;
        opacity: 0.9;
      }
    }
  }

  .outline-node .outline-subnodes {
    margin-left: var(--outline-indent);
    right: 0;
    position: relative;
  }
}
