#Toolbar {
  background-color: var(--toolbar-bg-color);
  border-bottom: 1px solid var(--toolbar-fg-color);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  color: var(--toolbar-fg-color);
  height: var(--toolbar-height);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;

  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  column-gap: 10px;
  align-items: center;
  min-width: 0;
  min-height: 0;
  #toolbar-left {
    grid-column: 1 / span 1;
  }
  #toolbar-mid {
    grid-column: 2 / span 1;
  }
  #toolbar-right {
    grid-column: 3 / span 1;
  }

  #toolbar-left,
  #toolbar-right,
  #toolbar-mid,
  .toolbar-item {
    display: flex;
    flex-wrap: nowrap;
    min-width: 0;
    min-height: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .toolbar-item {
    font-family: monospace;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    padding: 0 10px;
    position: relative;
    &.current-path {
      justify-content: start;
      font-size: 11px;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      flex-wrap: nowrap;
      .breadcrumb-title {
        font-size: 11px;
        margin-right: 5px;
        color: rgb(221, 221, 221);
      }
      .breadcrumb-separator {
        font-size: 11px;
        margin-right: 5px;
        font-weight: bold;
        color: rgb(134, 128, 226);
      }
    }
    &.page-number-view {
      width: 200px;
      .page-number {
        input {
          border: 1px solid black;
          background: #666;
          color: #eee;
          height: 1.5em;
          text-align: right;
          padding-left: 0.6em;
          padding-right: 0.6em;
        }
      }
    }
    button {
      --button-size: calc(var(--toolbar-height) - 6px);
      border: 1px solid grey;
      background: #666;
      color: white;
      height: calc(var(--button-size) * 0.8);
      min-width: calc(var(--button-size) * 0.8);
      font-weight: bolder;
      font-size: calc(var(--button-size) * 0.5);
      line-height: calc(var(--button-size) * 0.8);
      margin: calc(var(--button-size) * 0.1);
      padding: 0 calc(var(--button-size) * 0.1);
    }
  }
  .resize-grip {
    height: var(--resize-grip-width);
    bottom: 0;
    right: 0;
    left: 0;
    cursor: ns-resize;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
