#Sidebar {
  --outline-indent: 10px;
}

#Sidebar .outline-node {
  font-family: sans-serif;
  font-size: small;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#Sidebar .outline-node-title-indent {
  width: var(--outline-indent);
  content: " ";
  display: inline-block;
}

#Sidebar .outline-node-title {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
}

#Sidebar .outline-node-title:hover {
  background-color: #ddd;
}

#Sidebar .outline-node-title.current-path {
  font-weight: bold;
}

#Sidebar .outline-node .outline-subnodes {
  margin-left: var(--outline-indent);
}
