:root {
  --toolbar-height: 44px;
  --toolbar-bg-color: #444;
  --toolbar-fg-color: #eee;
}

@media (prefers-color-scheme: light) {
  :root {
    --toolbar-bg-color: #eee;
    --toolbar-fg-color: #333;
  }
}

.Toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--toolbar-height);
  z-index: 10;
  background-color: var(--toolbar-bg-color);
  color: var(--toolbar-fg-color);
  border-bottom: 1px solid var(--toolbar-fg-color);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

.Toolbar > .ZoomIn,
.Toolbar > .ZoomOut {
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #fe8;
  width: 32px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin: 2px;
}

.Toolbar > .ZoomPercent {
  text-align: center;
  font-size: 16px;
  color: white;
  margin: 2px;
}

.Viewer {
  padding-top: calc(var(--toolbar-height) + 4px);
  background-color: #444;
  width: 100%;
  height: calc(100% - var(--toolbar-height) - 4px);
  position: absolute;
  overflow: hidden;
}

.pdfViewer {
  --gap-size: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: var(--gap-size);
  padding: var(--gap-size);
  max-width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: grey;
}

.pdfViewer .page {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-image: none;
  border: none;
  box-shadow: 0 0 6px 0 black;
}
