:root {
  --toolbar-bg-color: #444;
  --toolbar-fg-color: #eee;
}

@media (prefers-color-scheme: light) {
  :root {
    --toolbar-bg-color: #eee;
    --toolbar-fg-color: #333;
  }
}

#Sidebar {
  position: fixed;
  top: var(--toolbar-height);
  left: 0;
  bottom: 0;
  width: var(--sidebar-width);
  background-color: #eee;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

#Statusbar {
  position: fixed;
  bottom: 0;
  left: var(--sidebar-width);
  right: 0;
  height: var(--statusbar-height);
  background-color: #444;
  color: #eee;
  font-size: 12px;
  line-height: 24px;
  padding: 0 8px;
  z-index: 1;
}

#Toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--toolbar-height);
  background-color: var(--toolbar-bg-color);
  color: var(--toolbar-fg-color);
  border-bottom: 1px solid var(--toolbar-fg-color);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#Viewer {
  background-color: #444;
  position: fixed;
  top: var(--toolbar-height);
  bottom: var(--statusbar-height);
  left: var(--sidebar-width);
  right: 0;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#Annotationbar {
  position: fixed;
  right: 0;
  bottom: var(--statusbar-height);
  top: var(--toolbar-height);
  max-width: var(--annotationbar-width);
  overflow: hidden;
  background-color: #444;
  color: #eee;
  font-size: 12px;
  line-height: 24px;
  padding: 0 8px;
  z-index: 1;
}

#Viewer {
  &.show-text-layer {
    .textLayer span,
    .textLayer br {
      background-color: white;
      color: black;
      opacity: 0.7;
    }
  }
  .textLayer > span {
    color: default;
  }
  #pdfViewer {
    --gap-size: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: var(--gap-size);
    padding: var(--gap-size);
    background-color: grey;

    .page {
      margin: 0 0 0 0; /*hi */
      border-image: none;
      border: none;
      box-shadow: 0 0 6px 0 black;
      display: block;
      position: relative;

      .unsaved-annotation {
        position: absolute;
        content: "";
      }

      .textLayer {
        opacity: 1;
      }

      .textLayer ::selection, /* needed to overload Mozilla's defaults*/
    .textLayer span::selection {
        background: var(--highlight-color);
        background-color: var(--highlight-color);
        text-decoration: var(--highlight-text-decoration);
        border: 1px solid black;
        opacity: var(--highlight-opacity);
      }
    }

    section.highlightAnnotation {
      pointer-events: none;
    }
  }
}
