:root {
  --toolbar-bg-color: #444;
  --toolbar-fg-color: #eee;
  --resize-grip-width: 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    --toolbar-bg-color: #eee;
    --toolbar-fg-color: #333;
  }
}

@import "./pdf/sidebar.scss";
@import "./pdf/statusbar.scss";
@import "./pdf/annotationbar.scss";
@import "./pdf/toolbar.scss";
@import "./pdf/viewer.scss";

.resize-grip {
  border: 1px solid #999;
  background-color: #ccc;
  position: absolute;
}
